.footer-container {
    width: 100%;
    padding: 0 100px;
    background-color: black;
    box-sizing: border-box;
    height: 300px;
    display: flex;
}

.footer-left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%
}

.footer-right-section {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-copyrights-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}

.footer-copyrights {
    color: #FFFFFF;
    font-size: 20px;
}

@media screen and (max-width: 1100px) {
    .footer-container {
        padding: 0 50px;
        height: 250px;
    }
}

@media screen and (max-width: 900px) {
    .footer-container {
        flex-direction: column-reverse;
    }

    .footer-right-section {
        display: none;
    }

    .footer-left-section {
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    .footer-copyrights {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .footer-copyrights {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .footer-container {
        height: 200px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 405px) {
    .footer-copyrights {
        font-size: 12px;
    }
}
