.instalation-step-container {
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.instalation-step-number {
    color: #FFFFFF;
    font-size: 64px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.instalation-step-title {
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF;
}

.instalation-step-text {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .instalation-step-container {
        width: 800px;
        gap: 20px;
    }

    .instalation-step-number {
        font-size: 56px;  
        width: 92px;
        height: 92px;     
    }
    
    .instalation-step-title {
        font-size: 32px;
    }
    
    .instalation-step-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    .instalation-step-container {
        width: 600px;
    }

    .instalation-step-number {
        font-size: 48px; 
        width: 86px;
        height: 86px;      
    }
    
    .instalation-step-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px) {
    .instalation-step-container {
        width: 400px;
    }

    .instalation-step-number {
        font-size: 40px;    
        width: 78px;
        height: 78px;   
    }
    
    .instalation-step-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    .instalation-step-container {
        width: 300px;
    }

    .instalation-step-number {
        font-size: 32px;    
        width: 70px;
        height: 70px;   
    }
    
    .instalation-step-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .instalation-step-container {
        width: 200px;
    }

    .instalation-step-number {
        font-size: 32px;    
        width: 70px;
        height: 70px;   
    }
    
    .instalation-step-title {
        font-size: 20px;
    }
}