.navigation-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #DDDDDD;
}

.navigation-button:hover {
    color: #FFFFFF;
}

.active {
    color: #FFFFFF;
}

@media screen and (max-width: 1500px) {
    .navigation-button {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .navigation-button {
        font-size: 12px;
    }
}