.our-team-hero-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.our-team-hero-section-text {
    color: #FFFFFF;
    font-size: 32px;
}

.our-team-main-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 880px) {
    .our-team-hero-section-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {
    .our-team-hero-section-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 380px) {
    .our-team-hero-section-text {
        font-size: 20px;
    }
}