.social-bar-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 50px;
}

@media screen and (max-width: 900px) {
    .social-bar-container {
        width: 100%;
        column-gap: 35px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .social-bar-container {
        column-gap: 20px;
    }
}